DTD/Ejercicios-DTD-1/ej2.dtd

<!ELEMENT matricula (personal,pago)>
<!ELEMENT personal (dni,nombre,titulacion,curso_academico,domicilios)>
<!ELEMENT pago (tipo_matricula)>
<!ELEMENT dni (#PCDATA)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT titulacion (#PCDATA)>
<!ELEMENT curso_academico (#PCDATA)>
<!ELEMENT domicilios (domicilio)+>
<!ELEMENT tipo_matricula (#PCDATA)>
<!ELEMENT domicilio (nombre)>

<!ATTLIST domicilio tipo (familiar|habitual) #REQUIRED>