DTD/Ejercicios-DTD-2/ej1.dtd

<!ELEMENT FAQ (INFO|PART)+>
<!ELEMENT INFO (TITULO,AUTOR,EMAIL?,VERSION?,FECHA?)>
<!ELEMENT PART (Q+)>
<!ELEMENT TITULO (#PCDATA)>
<!ELEMENT AUTOR (#PCDATA)>
<!ELEMENT EMAIL (#PCDATA)>
<!ELEMENT VERSION (#PCDATA)>
<!ELEMENT FECHA (#PCDATA)>
<!ELEMENT Q (QTEXT,A)>
<!ELEMENT QTEXT (#PCDATA)>
<!ELEMENT A (#PCDATA)>