XMLSchema/XSD-1/ej2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="matricula">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="personal">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="dni"/>
              <xs:element type="xs:string" name="nombre"/>
              <xs:element type="xs:string" name="titulacion"/>
              <xs:element type="xs:string" name="curso_academico"/>
              <xs:element name="domicilios">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="domicilio" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="nombre"/>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="tipo" use="optional"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="pago">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="tipo_matricula"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>