XMLSchema/Practica 2 XSD/ej3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

 <xs:attribute name="estado">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="C"/>
        <xs:enumeration value="E"/>
        <xs:enumeration value="R"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:attribute>

  <xs:element name="aeropuerto">
    <xs:complexType>
    <xs:choice>
      <xs:sequence>
        <xs:element type="xs:string" name="nombre"/>
        <xs:element name="vuelos">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="vuelo" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="diario" minOccurs="0"/>
                    <xs:element type="xs:string" name="origen"/>
                    <xs:element type="xs:string" name="destino"/>
                    <xs:element type="xs:time" name="hora-salida"/>
                    <xs:element type="xs:time" name="hora-llegada"/>
                  </xs:sequence>
                  <xs:attribute type="xs:ID" name="código" use="required"/>
                  <xs:attribute ref="estado" default="E"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:date" name="fecha"/>
      </xs:sequence>
      </xs:choice>
    </xs:complexType>
  </xs:element>
</xs:schema>
